name: "1. Development: Test / Deploy / Scan"
on:
  pull_request:
    paths:
      - "terraform/*"
      - ".github/workflows/terraform-edge.yaml"

env:
  TF_VAR_project_id: "luna-gcs-edge-98604"
  TF_VAR_project_number: "98604"
  TF_VAR_git_org: "lunalectric"
  TF_VAR_git_repo: "gcp-luna-gcs"
  TF_VAR_team: "platform-engineering"
  TF_VAR_environment: "edge"
  TF_VAR_terraform_by_managed: "true"
  MONDOO_CONFIG_BASE64: ${{ secrets.MONDOO_CONFIG_BASE64 }}


defaults:
  run:
    working-directory: ./terraform

jobs:
  # terraform-pre-plan-tests:
  #   name: "Terraform pre-plan testing"
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: 'actions/checkout@v3'

  #   - id: 'google-cloud-auth'
  #     name: 'Authenticate to Google Cloud'
  #     uses: 'google-github-actions/auth@v1'
  #     with:
  #       credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

  #   - uses: hashicorp/setup-terraform@v2
  #     with:
  #       terraform_wrapper: false

  #   - name: Terraform Init
  #     id: init
  #     run: terraform init -reconfigure

  #   - name: Terraform Format
  #     id: fmt
  #     run: terraform fmt -check  

  #   - name: Terraform Validate
  #     id: validate
  #     run: terraform validate -no-color

  #   - name: Setup cnspec
  #     id: setup-cnspec
  #     run: | 
  #       curl -sLO https://releases.mondoo.com/cnspec/7.15.1/cnspec_7.15.1_linux_amd64.deb && sudo dpkg -i cnspec_7.15.1_linux_amd64.deb
  #       cnspec version

  #   - name: "Security scan: TERRAFORM HCL"
  #     id: cnspec-pre-plan-scan-summary
  #     run: |
  #       echo "###Security scan: TERRAFORM HCL :white_check_mark:" >> $GITHUB_STEP_SUMMARY
  #       echo "" >> $GITHUB_STEP_SUMMARY
  #       cnspec scan terraform . >> $GITHUB_STEP_SUMMARY
  #       echo "CNSPEC_PRE_SCAN=$GITHUB_STEP_SUMMARY" >> $GITHUB_ENV

  # terraform-post-plan-testing:
  #   name: "Terraform post-plan testing"
  #   needs: terraform-pre-plan-tests
  #   runs-on: ubuntu-latest
  #   permissions:
  #     pull-requests: write
  #     contents: write
  #   steps:
  #   - uses: 'actions/checkout@v3'

  #   - id: 'google-cloud-auth'
  #     name: 'Authenticate to Google Cloud'
  #     uses: 'google-github-actions/auth@v1'
  #     with:
  #       credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

  #   - uses: hashicorp/setup-terraform@v2
  #     with:
  #       terraform_wrapper: false   

  #   - name: Terraform Init
  #     id: init
  #     run: terraform init -reconfigure

  #   - name: Terraform workspace edge
  #     id: edge-workspace
  #     run: terraform workspace select edge 

  #   - name: Terraform Plan
  #     id: plan
  #     run: terraform plan -no-color -input=false -var-file=edge.tfvars
  #     continue-on-error: true

  #   - name: Convert Terraform plan to json
  #     id: plan-to-json
  #     run: |
  #       terraform plan -var-file=edge.tfvars -out edge.tfplan
  #       terraform show -json edge.tfplan > edge.json

  #   - name: Setup cnspec
  #     id: setup-cnspec
  #     run: | 
  #       curl -sLO https://releases.mondoo.com/cnspec/7.15.1/cnspec_7.15.1_linux_amd64.deb && sudo dpkg -i cnspec_7.15.1_linux_amd64.deb
  #       cnspec version

  #   - name: "Security scan: TERRAFORM PLAN"
  #     id: cnspec-post-plan-scan
  #     env:
  #       MONDOO_CONFIG_BASE64: ${{ secrets.MONDOO_CONFIG_BASE64 }}
  #     run: |
  #       echo "###Security scan: TERRAFORM PLAN :white_check_mark:" >> $GITHUB_STEP_SUMMARY
  #       echo "" >> $GITHUB_STEP_SUMMARY
  #       cnspec scan terraform plan edge.json >> $GITHUB_STEP_SUMMARY

  #   - uses: actions/upload-artifact@v3
  #     name: Upload edge.json
  #     with:
  #       name: edge.json
  #       path: ./terraform/edge.json

  # terraform-apply:
  #   name: "Deploy changes: DEVELOPMENT ENVIRONMENT"
  #   needs: terraform-post-plan-testing
  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: 'actions/checkout@v3' 

  #   - id: 'google-cloud-auth'
  #     name: 'Authenticate to Google Cloud'
  #     uses: 'google-github-actions/auth@v1'
  #     with:
  #       credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

  #   - uses: hashicorp/setup-terraform@v2
  #     with:
  #       terraform_wrapper: false

  #   - name: Terraform Init
  #     id: terraform-apply-init
  #     run: terraform init -reconfigure 

  #   - name: Terraform workspace edge
  #     id: edge-workspace
  #     run: terraform workspace select edge 

  #   - name: Terraform Apply
  #     id: run-terraform-apply
  #     run: terraform apply -auto-approve -input=false -var-file=edge.tfvars

  cnspec-runtime-scan:
    name: "Mondoo security scan DEVELOPMENT ENVIRONMENT"
    # needs: terraform-apply
    outputs:
      scan-report-url: ${{ steps.gen-cnspec-url.outputs.scan-url }}
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest

    steps:
    - uses: 'actions/checkout@v3'

    - id: 'google-cloud-auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

    - name: Setup cnspec
      id: setup-cnspec
      run: | 
        curl -sLO https://releases.mondoo.com/cnspec/7.15.1/cnspec_7.15.1_linux_amd64.deb && sudo dpkg -i cnspec_7.15.1_linux_amd64.deb
        cnspec version

    - name: 'Security scan - DEV environment'
      id: gcp-dev-runtime-scan
      run: |
        echo "# Mondoo Security Scan - ${{ env.TF_VAR_project_id }} :white_check_mark:" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY        
        echo "**Opened by:** $GITHUB_ACTOR" >> $GITHUB_STEP_SUMMARY        
        cnspec scan gcp --project-id ${{ env.TF_VAR_project_id }} >> $GITHUB_STEP_SUMMARY

    - name: Install jq
      id: install-jq
      run: |
        sudo apt install -y jq
        jq --version

    - name: generate cnspec scan report 
      id: gen-cnspec-url
      run: echo "scan-url=$(cnspec scan gcp --project-id ${{ env.TF_VAR_project_id }} -j | jq ".assets | .. | .url? | select(.) ")" >> $GITHUB_OUTPUT

    - name: Notify Platform Engineering (Slack)
      id: slack
      uses: slackapi/slack-github-action@v1.23.0
      with:
        # For posting a rich message using Block Kit
        payload: |
          {
            "blocks": [
              {
                "type": "section",
                "text": {
                  "type": "plain_text",
                  "text": "Deployment to ${{ env.TF_VAR_project_id }} was ${{ job.terraform-apply.outcome }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}",
                  "emoji": true
                }
              },
              {
                "type": "divider"
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "*Mondoo security scan report:* <${{ needs.step.gen-cnspec-url.outputs.scan-url }}|Click here to view report in the Mondoo console>"
                }
              }
            ]
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK